<%- include('../layouts/Header'); -%>
<%- include('../layouts/CSS'); -%>
<%- include('../layouts/endHeader'); -%>

<div id="wrapper">
  <%- include('../layouts/Sidebar'); -%>


  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <%- include('../layouts/topbarEIEI'); -%>
       <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <div class="col-sm-10">
          <div class="container">

            <!--ผู้คุมสอบที่ว่าง-->

            <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link active">ผู้คุมสอบทั้งหมด</a></li>
            </ul>
            <div style="clear: both"></div>
            <div style="height: auto !important; overflow: auto;">
              <table class="table table-striped" style="text-align: center">
                <thead>
                  <tr>
                    <!--<td><b>ชื่อตึก</b></td>-->
                    <td><b>ชื่อ-สกุล</b></td>
                    <!--prefixName firstName lastName-->
                    <td><b>ตำแหน่ง</b></td>
                    <!--uType-->
                    <td><b>เลือก</b></td>
                  </tr>
                </thead>
                <tbody>
                  <% 
                          let arrExaminer = []

                          for(let i = 0 ; i < exam.examiner.length ; i++) {
                              arrExaminer.push(exam.examiner[i]._id+'')
                          }
                          for(let i=0; i < examiner.length ; i++) {
                             if(examiner[i].uType != 'student'){
                              if(!arrExaminer.includes(examiner[i]._id+'')){
                          %>
                  <tr>
                    <td>
                      <%= examiner[i].prefixName %> <%= examiner[i].firstName %>
                      <%= examiner[i].lastName %>
                    </td>
                    <td>
                      <%= examiner[i].uType %>
                    </td>

                    <td>
                      <a href="/manageCourse/manageExaminer/add/<%=examiner[i]._id%>/<%=exam._id%>/<%=room._id%>"
                        class="btn btn-primary">เลือก</button>
                    </td>
                  </tr>
                  <% }}} %>

                </tbody>
              </table>
              <!--ผู้คุมสอบที่ว่าง-->
              <!--ผู้คุมสอบที่เลือก-->
              <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active">ผู้คุมสอบที่เลือก</a></li>
              </ul>
              <div style="clear: both"></div>
              <div style="height: auto !important; overflow: auto;">
                <table class="table table-striped" style="text-align: center">
                  <thead>
                    <tr>
                      <!--<td><b>ชื่อตึก</b></td>-->
                      <td><b>ชื่อ-สกุล</b></td>
                      <!--prefixName firstName lastName-->
                      <td><b>ตำแหน่ง</b></td>
                      <!--uType-->
                      <td><b>เลือก</b></td>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i=0; i < exam.examiner.length ; i++) {
                              %>
                    <tr>
                      <td>
                        <%= exam.examiner[i].prefixName %> <%= exam.examiner[i].firstName %>
                        <%= exam.examiner[i].lastName %>
                      </td>
                      <td>
                        <%= exam.examiner[i].uType %>
                      </td>
                      <td>
                        <a href="/manageCourse/manageExaminer/delete/<%=exam.examiner[i]._id%>/<%=exam._id%>/<%=room._id%>"
                          class="btn btn-danger">ลบ</button>
                      </td>
                    </tr>
                    <% } %>

                  </tbody>
                </table>

                <!--ผู้คุมสอบที่เลือก-->

              </div>
            </div>


          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

      </div>
      <!-- End of Content Wrapper -->

    </div>


    <%- include('../layouts/Bottom'); -%>