<%- include('../layouts/Header'); -%>
<%- include('../layouts/CSS'); -%>
<%- include('../layouts/endHeader'); -%>

<div id="wrapper">
    <%- include('../layouts/Sidebar'); -%>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <%- include('../layouts/topbarEIEI'); -%>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">




                <div class="col-sm-10">
                    <div class="container">
                        <button style="float: right;" type="submit" class="btn btn-success" data-toggle="modal"
                            data-toggle="modal" data-target=".addStaff">เพิ่ม</button>
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active" style="float: left;">จัดการเจ้าหน้าที่</a>
                            </li>
                        </ul>
                        <div style="clear: both"></div>
                        <div style="height: 300px !important; overflow: auto;">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                       
                                        <td><b>ชื่อ-นามสกุล</b></td>
                                        <td><b>คณะ</b></td>
                                        <td><b>สาขา</b></td>
                                        <td><b>ตำแหน่ง</b></td>
                                        <td><b>ข้อมูลเพิ่มเติม</b></td>
                                        <td><b>แก้ไข</b></td>
                                        <td><b>ลบ</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < person.length; i++) { %>

                                    <tr>
                                        
                                        <td><%= person[i].prefixName %> <%= person[i].firstName %> <%= person[i].lastName %></td>
                                        <td><%= person[i].faculty %></td>
                                        <td><%= person[i].major %></td>
                                        <td><%= person[i].position %></td>
                                        <td><a href="#" class="btn btn-primary">ตรวจสอบ</a></td>
                                        <td><button style="float: right;" type="submit" class="btn btn-primary"
                                                data-toggle="modal" data-toggle="modal" data-target=".updateStaff"
                                                onclick="editStaff('<%= person[i]._id %>','<%= person[i].username %>','<%= person[i].password %>','<%= person[i].uType %>','<%= person[i].prefixName %>','<%= person[i].firstName %>','<%= person[i].lastName %>','<%= person[i].faculty %>','<%= person[i].major %>','<%= person[i].position %>')">Edit</a></td>
                                        <td><a href="/manageStaff/delete/<%= person[i]._id %>"
                                                class="btn btn-danger">Delete</a></td>
                                    </tr>

                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>







    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->



<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>กูทำเองไม่ได้ขอตังใคร xd</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>

<%- include('../modals/staffModal'); -%>
<%- include('../layouts/Bottom'); -%>